doctype html
html(lang="ja")
  head
    include common/inc/_meta_head.pug
    include common/inc/_files_head.pug
    title カルーセル課題
  body
    include include/_header.pug
    main.main
      .container
        .container__inner

          .carousel.js-carousel.fade
            .carousel__slide-wrap
              .carousel__slide-inner
                .carousel__wrap
                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ぬか床を混ぜる人のイラスト
                        p.carousel__text 糠床に野菜を入れてぬか漬けを作っている人のイラストです。
                      .carousel__image
                        img(src="common/img/image-01.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ワンオペのイラスト
                        p.carousel__text 女性の従業員（アルバイト）が店内の業務を全て一人でこなしている、ワン オペレーションのイラストです。
                      .carousel__image
                        img(src="common/img/image-02.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ティッシュのカスが付いた洗濯物のイラスト
                        p.carousel__text ポケットにティッシュを入れたまま洗濯機を使ったため洋服がティッシュか すだらけになってしまって困っているお母さんのイラストです。
                      .carousel__image
                        img(src="common/img/image-03.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title タピオカミルクティーを飲む人のイラスト（男性）
                        p.carousel__text 黒いタピオカがたくさん入ったタピオカドリンクを美味しそうに飲んでいる 男性のイラストです。
                      .carousel__image
                        img(src="common/img/image-04.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title 苗を植える女の子のイラスト
                        p.carousel__text 畑に空けた小さな穴に植物の苗を植えようとしている女の子のイラストで す。
                      .carousel__image
                        img(src="common/img/image-05.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title 誕生日の猫のイラスト
                        p.carousel__text 誕生日ケーキを嬉しそうに見ているペットの猫のイラストです。
                      .carousel__image
                        img(src="common/img/image-06.png" alt="")


          .carousel.js-carousel.col1
            .carousel__slide-wrap
              .carousel__slide-inner
                .carousel__wrap
                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ぬか床を混ぜる人のイラスト
                        p.carousel__text 糠床に野菜を入れてぬか漬けを作っている人のイラストです。
                      .carousel__image
                        img(src="common/img/image-01.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ワンオペのイラスト
                        p.carousel__text 女性の従業員（アルバイト）が店内の業務を全て一人でこなしている、ワン オペレーションのイラストです。
                      .carousel__image
                        img(src="common/img/image-02.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ティッシュのカスが付いた洗濯物のイラスト
                        p.carousel__text ポケットにティッシュを入れたまま洗濯機を使ったため洋服がティッシュか すだらけになってしまって困っているお母さんのイラストです。
                      .carousel__image
                        img(src="common/img/image-03.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title タピオカミルクティーを飲む人のイラスト（男性）
                        p.carousel__text 黒いタピオカがたくさん入ったタピオカドリンクを美味しそうに飲んでいる 男性のイラストです。
                      .carousel__image
                        img(src="common/img/image-04.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title 苗を植える女の子のイラスト
                        p.carousel__text 畑に空けた小さな穴に植物の苗を植えようとしている女の子のイラストで す。
                      .carousel__image
                        img(src="common/img/image-05.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title 誕生日の猫のイラスト
                        p.carousel__text 誕生日ケーキを嬉しそうに見ているペットの猫のイラストです。
                      .carousel__image
                        img(src="common/img/image-06.png" alt="")


          .carousel.js-carousel.col2
            .carousel__slide-wrap
              .carousel__slide-inner
                .carousel__wrap
                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ぬか床を混ぜる人のイラスト
                        p.carousel__text 糠床に野菜を入れてぬか漬けを作っている人のイラストです。
                      .carousel__image
                        img(src="common/img/image-01.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ワンオペのイラスト
                        p.carousel__text 女性の従業員（アルバイト）が店内の業務を全て一人でこなしている、ワン オペレーションのイラストです。
                      .carousel__image
                        img(src="common/img/image-02.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ティッシュのカスが付いた洗濯物のイラスト
                        p.carousel__text ポケットにティッシュを入れたまま洗濯機を使ったため洋服がティッシュか すだらけになってしまって困っているお母さんのイラストです。
                      .carousel__image
                        img(src="common/img/image-03.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title タピオカミルクティーを飲む人のイラスト（男性）
                        p.carousel__text 黒いタピオカがたくさん入ったタピオカドリンクを美味しそうに飲んでいる 男性のイラストです。
                      .carousel__image
                        img(src="common/img/image-04.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title 苗を植える女の子のイラスト
                        p.carousel__text 畑に空けた小さな穴に植物の苗を植えようとしている女の子のイラストで す。
                      .carousel__image
                        img(src="common/img/image-05.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title 誕生日の猫のイラスト
                        p.carousel__text 誕生日ケーキを嬉しそうに見ているペットの猫のイラストです。
                      .carousel__image
                        img(src="common/img/image-06.png" alt="")


          .carousel.js-carousel.col3
            .carousel__slide-wrap
              .carousel__slide-inner
                .carousel__wrap
                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ぬか床を混ぜる人のイラスト
                        p.carousel__text 糠床に野菜を入れてぬか漬けを作っている人のイラストです。
                      .carousel__image
                        img(src="common/img/image-01.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ワンオペのイラスト
                        p.carousel__text 女性の従業員（アルバイト）が店内の業務を全て一人でこなしている、ワン オペレーションのイラストです。
                      .carousel__image
                        img(src="common/img/image-02.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title ティッシュのカスが付いた洗濯物のイラスト
                        p.carousel__text ポケットにティッシュを入れたまま洗濯機を使ったため洋服がティッシュか すだらけになってしまって困っているお母さんのイラストです。
                      .carousel__image
                        img(src="common/img/image-03.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title タピオカミルクティーを飲む人のイラスト（男性）
                        p.carousel__text 黒いタピオカがたくさん入ったタピオカドリンクを美味しそうに飲んでいる 男性のイラストです。
                      .carousel__image
                        img(src="common/img/image-04.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title 苗を植える女の子のイラスト
                        p.carousel__text 畑に空けた小さな穴に植物の苗を植えようとしている女の子のイラストで す。
                      .carousel__image
                        img(src="common/img/image-05.png" alt="")

                  .carousel__item
                    a(href="https://www.irasutoya.com/" target="_blank")
                      .carousel__body
                        p.carousel__title 誕生日の猫のイラスト
                        p.carousel__text 誕生日ケーキを嬉しそうに見ているペットの猫のイラストです。
                      .carousel__image
                        img(src="common/img/image-06.png" alt="")


    script(src="common/js/run.js")