doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="css/style.css")
    title コンテンツ１
  body
    h1.title コンテンツ１
    main.main
      h2.content_title Pugとは
      p.txt テキストテキストテキスト
      p.txt テキストテキストテキスト
